body {
    background-color: rgb(255, 255, 255);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;  
    margin: 0; 
    
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10%;
}

.alca {
  position: absolute;
  width: 200%;
  height: 70px;
  background-color: #00ff00;
  border: 5px solid #000000;
  border-radius: 0%;
  z-index: 0;
}

.alca::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 10px;
  background-color: #000000;
}

.circulo {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #00ff00;
  z-index: 1;
}

.circulo::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 30%;
  background-color: black;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  z-index: 3;
}

.circulo::after {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 30%;
  background-color: black;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  z-index: 3;
}
.anel {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%; /* Cria o círculo */
  border: 22px solid #646464; 
  background-color: transparent;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);;
  z-index: 2; /* organizar as camadas do relogio */
}